*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#f5f4ef;

font-family:'Inter',sans-serif;

}

nav{

position:fixed;

top:0;
left:0;

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:30px 70px;

z-index:999;

background:rgba(255,255,255,.25);

backdrop-filter:blur(18px);

transition:.4s;

}

.logo{

font-family:'Cormorant Garamond',serif;

font-size:32px;

letter-spacing:1px;

}

nav ul{

display:flex;

gap:45px;

list-style:none;

}

nav a{

text-decoration:none;

color:#222;

font-size:14px;

letter-spacing:2px;

text-transform:uppercase;

transition:.3s;

}

nav a:hover{

opacity:.5;

}